.auto-parts-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  justify-items: center;
  margin-top: 30px;
}

.auto-part-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 7.5cm;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.auto-part-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 30px;
}

.auto-part-card h6 {
  font-size: 14px;
  margin: 5px 0;
  max-height: 80px;
  overflow-wrap: break-word;
  text-align: center;
}

.auto-part-card h4 {
  font-size: 12px;
  margin: 5px 0;
  color: #D9B26C;
  max-height: 80px;
  overflow-wrap: break-word;
  text-align: center;
  position: relative; /* Necesario para el tooltip */
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

/* Tooltip para el código */
.auto-part-card h4 .tooltip {
  position: absolute;
  bottom: 125%; /* Muestra el tooltip sobre el texto */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
  z-index: 10;
}

.auto-part-card h4:hover .tooltip {
  visibility: visible;
  opacity: 0.8;
}

.select-checkbox {
  transform: scale(1.5);
  margin-top: auto;
  margin-bottom: 1px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.category-select {
  display: block;
  margin: 20px auto;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button, .pagination button {
  background-color: #0B4F61;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover, .pagination button:hover {
  background-color: #083c4a;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.page-indicator {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 15px;
  color: #0B4F61;
}
.copied-message {
  color: green;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block;
}


@media (max-width: 768px) {
  .auto-parts-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .auto-part-card {
    max-width: 100%;
    padding: 10px;
  }
}
