.auto-parts-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  justify-items: center;
  margin-top: 50px;
}

.auto-part-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 6.5cm;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.auto-part-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 5px;
}

.auto-part-card h3 {
  font-size: 14px;
  margin: 5px 0;
  max-height: 60px;
  overflow-wrap: break-word;
  text-align: center;
}

.select-checkbox {
  transform: scale(1.5);
  margin-top: auto;
  margin-bottom: 1px

}
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.category-select {
  display: block;
  margin: 20px auto;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button, .pagination button {
  background-color: #0B4F61;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover, .pagination button:hover {
  background-color: #083c4a;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .auto-parts-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .auto-part-card {
    max-width: 100%;
    padding: 10px;
  }
}


