.contactanos-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Estilo general para el texto */
#texto-resaltado {
    font-size: 20px;
    color: #333;
}

/* Cambia el color y crea una animación */
#texto-resaltado span {
    color: #0066cc; /* Color inicial */
    font-weight: bold;
    animation: colorCambio 2s infinite; /* Animación infinita */
}

/* Definición de la animación */
@keyframes colorCambio {
    0% { color: #0066cc; } /* Color inicial */
    50% { color: #ff6600; } /* Color intermedio */
    100% { color: #0066cc; } /* Vuelve al color inicial */
}


.contactanos-image {
  width: 100%;
  max-width: 200px; /* Ajusta el tamaño máximo según tu preferencia */
  margin-bottom: 20px;
}

.contactanos-message {
  font-size: 22px;

  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25D366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-button:hover {
  background-color: #1ebe5b;
}

@media (max-width: 768px) {
  .contactanos-message {
    font-size: 14px;
  }

  .whatsapp-button {
    padding: 8px 16px;
  }

  .contactanos-image {
    max-width: 150px; /* Reduce el tamaño de la imagen en pantallas pequeñas */
  }
}
