body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #0B4F61;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  margin: 0;
  width: 100%;
}

.header-menu {
  list-style: none;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header-menu li {
  display: inline;
}

.header-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

.header-menu a:hover {
  color: #ddd;
}

#root {
  flex: 1;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #f0f4f8, #ffffff);
}

footer {
  background-color: #0B4F61;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: 0 ;
  font-size: 22px;
  position: relative;
}

footer p {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

footer p:hover {
  color: #ddd;
}
.pagination {
  margin-bottom: 20px;
}
header, footer {

  padding: 0;
  margin: 0;
  width: 100%;
}
.menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .header-menu {
       display: none;
       flex-direction: column;
       gap: 20px;
       background-color: #0B4F61;
       position: absolute;
       top: 50px;
       left: 0;
       right: 0;
       padding: 20px 0;
       z-index: 1000;
     }

    .menu-toggle {
        display: block;
        color: #0B4F61;
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2000;
      }
  .header-menu.active {
      display: flex;
    }

  footer p {
    font-size: 12px;
  }

   .auto-parts-grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
  button, .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
}