.inicio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.inicio-image {
  width: 100%;
  max-width: 800px;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .inicio-image {
    max-width: 100%;
    height: auto;
  }
}
